<h3> Welcome to Grouppetto </h3>
<p>Please <a href="/login">Login In </a> or <a href="/signup"> Sign Up</a></p>


<nav>
  <% if logged_in? %>
  <a href="/rides/new"> Create New Ride </a>
  <a href="/logout"> Log Out </a>
  <p>Welcome, <%=current_user.name %></p>

  <% else %>
  <a href="/login"></a>
  <a href="/signup"></a>
  <% end %>

</nav>
