<!DOCTYPE html>
<html>
<head>
<style>
div.a {
  text-align: center;

}
div.b{
  text-decoration-line: underline;
  text-decoration-style: solid;
}

div.c{
  outline-style: solid;
  outline-color: #0066FF;
  margin: 40px;
  /*border: 2px solid black;*/
  background-color: #0066FF;
  outline: 8px solid #2966FF;
  outline-offset: 2px;
}
</style>
</head>
<body>

<div class="a">
  <div class="b">
    <div class="c">
  <h2> Welcome to Grouppetto </h2>
 </div>
</div>

  <p> We can help you find group rides here, <a href="/signup" style="text-decoration: underline;"><strong>Sign up here</strong></a> and forget about wasting time looking for group rides ever again.</p>






<div class="form-bottom">
  <form role="form" action="/login" method="post" >
<div class="form-group">
 <label class="sr-only" for="form-username">username</label>
  <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
</div>

<div class="form-group">
  <label class="sr-only" for="password">password</label>
  <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">

</div>
    <button type="submit" class="btn">Log In</button>
</div>
