
<div class="col-sm-12 text-center">
<h1>Welcome to [FIND]</h1>
<h5>Were here to help you stay in the peloton </h5>
</div>


<div class="col-sm-12 text-center">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</div>

















<!-- <nav>

  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %>
    <a href="/rides/new"> Create group ride </a>
    <a href="/logout"> Log Out </a></p>

  <% else %>
    <a href="/login">Sign In</a>
    <a href="/signup">Sign Up</a>
  <% end %>

</nav> -->
