<html>
  <head>
    <title>Grouppetto</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <br>
    <% if flash[:message] %>
      <b><i><p class="message"><%= flash[:message] %></p></i></b>
    <% end %>
  <%= yield %>
  </body>
</html>
