<!doctype html>
<html>
  <head>
    <title>Sinatra Grouppeto</title>
  </head>

<body>
  <header>
    <nav class="wrap">
    <% if logged_in? %>
     <p>User: <%=current_user.username%>
     <h5>logout: <a href="/logout">click here</a></h5>
     

  <% end %>
  </nav>
</header>

 <flash>
 <% if flash.has?(:message)%>
      <%= flash[:message] %>
      <%end%>
    </flash>

    <%=yield%>

    </body>
 </html>
