<!doctype html>
<html>
<title>Welcome</title>
  <head>
    <title>cyclist</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Grouppetto!</h1>
      <%= yield %>
    </div>

  </body>
</html>
