
<div class="col-sm-12 text-center">
<h2>Welcome Cyclist!</h2>
<h8>To start tracking your rides, please
  <div class="col-sm-12 text-center">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a> or
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</div>
</h8>
</div>



















<!-- <nav>

  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %>
    <a href="/rides/new"> Create group ride </a>
    <a href="/logout"> Log Out </a></p>

  <% else %>
    <a href="/login">Sign In</a>
    <a href="/signup">Sign Up</a>
  <% end %>

</nav> -->
