

<% unless locals.empty? %>
  <%= message %>
<% end %>


<h1>Sign up and lets get started</h1>
  <form action="/signup" method="POST">
   <p>Username: <input type="text" name="username" required placeholder="Name" id="username"></p>
   <p>Email: <input type="email"  name="email" required placeholder="email" id="email"></p>
   <p>Password:   <input type="password" name="password" required placeholder="password" id="password"></p>
 </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<br>
<p><a href='/login'> Already hava an account ? </a></p>
<p><a href='/'> Back to the main page </a></p>
