

<% unless locals.empty? %>
  <%= message %>
<% end %>


<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <label>name</label>
   <input type="text" name="name"><br>
   <label>Password</label>
    <input type="text" name="password"><br>
  <label>Email</label>
   <input type="text" name="email"><br>
  <label>BIO</label>
    <input type="text" name="bio"><br>
  <input class="btn btn-primary" type="submit">
</form>
