<!DOCTYPE html>
<html>
<head>
<style>
div.a {
  text-align: center;
}
</style>
</head>
<body>


<div class="a">
<h2>Login</h2>



<% if flash.has?(:signup_error) %>
  <%= flash[:signup_error] %>
<% end %>




<form action="/login" method="POST">

  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>


<br>

<p>Don't have an account ? <a href="/signup" style="text-decoration: underline;"><strong>Sign up here</strong></a></p>
<a href='/' style="text-decoration: underline;"><strong>Main Page</strong></a>
</div>
