<h3> Sign-Up And Lets Get Started</h3>


 <form action="/signup" method="POST">

   <form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="email" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>

<br>

<p><a href='/login'>Already hava an account?</a></p>
<p><a href='/'>Back to Main Page</a></p>
