<section id="ride_id">

    <div class="row">
    <div class="my-reviews-column col-lg-4">
        <div class="card">
        <div class="card-header">
            Hello, <%= @current_user.username %>. Here are your rides:
        </div><!-- end card-header-->

        <div class="card-body">


         <% @rides.each do |ride|  %>

        <a href="/rides/<%= ride.ride_id  %>" ><%= rides.title %></a>
        <br>
        <% end %>


        </div><!-- end card-body-->
        </div><!--end card -->
    </div> <!-- end my-reviews-column-->
