<% if !!@error_message %>
    <p class="danger"><%= @error_message %></p>
<% end %>



<h3> Ride information </h3>

<form action="/rides/new" method="POST">

<label for="description">Group ride content:</label>
<textarea type="text" name="description" id="description" placeholder="Please tell us about this ride" required></textarea><br></br>

<label for="ride_distance">Ride Distance:</label>
<input type="number" name="ride_distance" id="ride_distance" placeholder="How long is this ride? " required> <br>



 <input type="submit" value="Add">

</form>

<br>
