<!DOCTYPE html>
<html>
<head>
<style>
div.a {
  text-align: center;
}
</style>
</head>
<body>


<div class="a">
 <form action="/new_ride" method="POST">
   <h2>Create your group ride</h2>
   <p>title: <input type='text' name='title' required placeholder='title' id='title' required></p>
   <p>location: <input type='location'  name='location' required placeholder='location' id='location' required></p>
   <p>description:<textarea type='description'name='description' require placeholder='Please tell us about the ride ?' id='description' required></textarea></p>
   <p>ride_distance:<textarea type='interger' name='ride_distance' require placeholder='Ride distance' id='ride_distance' required ></textarea></p>
   <p>ride_date:<textarea type='integer'name='ride_date' require placeholder='When is your ride' id='ride_date' required></textarea></p>

   <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<br>

<p><a href='/login'>Already hava an account?</a></p>
<p><a href='/'>Back to Main Page</a></p>
</div>
